{% if site.songs %}
	<ul class="rows">
		<li class="row__cols">
			<div class="row__title">
				{% if site.song_title %}
					{{ site.song_title }}
				{% else %}
					Title
				{% endif %}
			</div>
			<div class="row__date">
				{% if site.song_date %}
					{{ site.song_date }}
				{% else %}
					Date
				{% endif %}
			</div>
		</li>
		{% for song in site.songs %}
			<li class="row__post">
				<a href="{{ site.url }}{{ song.url | relative_url }}">
					<div class="row__title {% if include.uid == song.id %}row__active{% endif %}">
						{{ song.title }}
					</div>
					<div class="row__date {% if include.uid == song.id %}row__active{% endif %}">
						{% if site.date_format %}
							{{ song.date | date: site.date_format }}
						{% else %}
							{{ song.date | date: "%b %-d, %Y" }}
						{% endif %}
					</div>
				</a>
				{% if song.img %}
					<img class="row__img" src="{{ song.img }}" alt"{{ song.title }}">
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endif %}
				
